---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Would you like to review my resume?
  </h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    A comprehensive overview of my professional journey and experiences, highlighting key milestones, skills acquired, and accomplishments achieved throughout my career.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Click Here</Link>
  </div>
</div>
