---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Management skills",
    description:
      "Strong management skills with the ability to lead teams, coordinate projects, and ensure timely, goal-oriented execution",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Full-stack Webdeveloper",
    description:
      "Proficient Full-Stack Web Developer with hands-on experience in both front-end and back-end development. Skilled in building responsive, scalable, and user-centric web applications using technologies such as React, Node.js, and MongoDB.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Flexibity and Adaptibility",
    description:
      "Highly adaptable and flexible, able to quickly adjust to new technologies, environments, and team dynamics while maintaining productivity and a positive attitude.",
    icon: "bx:bxs-data",
  },
  {
    title: "Proper use of AI",
    description:
      "Committed to leveraging the power of Artificial Intelligence to develop smarter, more efficient solutions, with practical experience in implementing AI-driven features in real-world applications.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Critical Thinking and Analytical Skills",
    description:
      "Strong critical thinking and analytical skills, with the ability to assess complex problems, evaluate possible solutions, and implement effective, data-driven strategies",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Community",
    description:
      "Active participant in the tech community, regularly engaging with industry professionals through forums, events, and collaborative projects to stay updated with the latest trends and best practices.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    A comprehensive overview of my technical and professional skills is presented below
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    This section highlights both my technical and non-technical skills, showcasing a well-rounded professional profile.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
